@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding:0;
    margin:0;
}

.body{
    background: url("../b2.jpeg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#name{
    position: absolute;
    top: 5px;
    right: 777px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;


}

#design{
    position: absolute;
    top: -30px;
    right: 560px;
    font-size: 100px;
    font-weight: bold;

}

#hiscoreBox{
    position: absolute;
    top: 60px;
    right: 1200px;
    font-size: 29px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#ScoreBox{
    position:absolute;
    top: 9px;
    right: 1200px;
    font-size: 29px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgba(63, 201, 120, 0.938), rgb(161, 161, 56));
    width:90vmin;
    height:92vmin;
    margin-left: -400px;
    margin-top: 20px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background:linear-gradient(rgb(245, 12, 245),rgb(88, 8, 88));
    border: 2px solid rgb(43, 4, 43);
    transform: scale(1.02);
    border-radius: 9px;

}
.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red,rgb(66, 12, 12));
    border:.25vmin solid black;
    border-radius: 8px;
}

